/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

/* Стилі для секцій */
section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

/* Стилі для зображень */
.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Стилі для футера */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
